<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.edu.pwr.lab3.i268893.flutter_google_ml_kit">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
